<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <ui-gmap-google-map bounds="map.bounds" center="map.center" draggable="true" options="options" zoom="map.zoom">
            <ui-gmap-polygons editable="false" fill="map.getPolyFill" fit="false" geodesic="true" models="map.polys" ng-cloak="" path='"geom"' static="true" stroke="{ color: '#2c8aa7', weight: 3, opacity: '1.0' }" visible="true">
            </ui-gmap-polygons>
        </ui-gmap-google-map>
    </div>
</div>